body { 
    /*background-color: #99D6DB; */
    background-color: white;
    font-family: Garamond;
    
}
h1 { 
    color: black;
    font-weight: bold;
}

.divider { 
    height: 50px;
}

.formheader { 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: #99d6Db;
}
.formcontent { 
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: double;
}

img { 
    width: 100%;
}
.border {
    border-style:solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: black;
    border-width: 2px;
    margin-top: 3px;
    
}